<% provide(:title, "About") %>
<div class="about-page-wrapper">
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="message-wrapper">
      <div class= "what-is-phonics">
        <h1>フォニックスってなに？</h1>
        <p>
          フォニックスとは、アルファベットとその発音を理解して英語の正しい読み方の学習をスムーズにできるようにするための練習です。<br>
          英語圏の学校の幼児教育にも取り入れられています。
        </p>
      </div>
      <div class="why-phonics">
        <h1>どうしてフォニックスをやるの？</h1>
        <p>
          フォニックスを練習すると、よりネイティブに近い発音を身につけることができます。これにより、リスニング能力の向上が見込めます。<br>
          また、初めて見る英単語でもその音を推測して発音ができるようになったり、英語のスペルが覚えやすくなります。<br>
          英語学習のファーストステップとして最適な学習方法です！
        </p>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
