<% provide(:title, "Home") %>
<div class="home-page-wrapper">
  <div class="container">
  <%= render 'layouts/header' %>
    <%= link_to "スタート！", practice_path, class:"btn btn--yellow btn--border-dotted" %>
  </div>
</div>
<%= render 'layouts/footer' %>