<% provide(:title, "Home") %>
<div class="home-page-wrapper">
  <div class="container">
  <%= render 'layouts/header' %>
    <a href="" class="btn btn--yellow btn--border-dotted">スタート！</a>
  </div>
</div>
<%= render 'layouts/footer' %>