<% provide(:title, "practice") %>
<div class="practice-page-wrapper">
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="alphabet">
      <i class="fas fa-volume-up"></i>
      <h1>
        Aa
      </h1>
    </div>
    <div class="alphabet-image">
      <i class="fas fa-volume-up"></i>
      <%= image_tag "apple.png" %>
      <h2>apple</h2>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>