<div class="button-area">
  <% unless first_page?(alphabet) %>
    <div class="previous-page">
      <%= link_to practice_path(previous_page(alphabet)) do %>
        <%= image_tag "arrow-left.png", alt: "previous-page" %>
      <% end %>
    </div>
  <% end %>
  <% unless last_page?(alphabet, alphabet_count) %>
    <div class="next-page">
      <%= link_to practice_path(next_page(alphabet)) do %>
        <%= image_tag "arrow-right.png", alt: "next-page" %>
      <% end %>
    </div>
  <% end %>
</div>