// Place all the styles related to the studylogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {

  .calendar-heading {
    font-size: 20px;
    text-align: center;
  }

  .calendar-title {
    margin: 0 20px 0 20px;
  }

  table {
    border: 0px;
  }

  th {
    border: 0px;
  }

  .day {
    height: 43px;
    border-color: white;
    border-radius: 20px;
    border-width: 3px;
  }

  .prev-month {
    opacity: 0;
  }
  .next-month {
    opacity: 0;
  }

  .today {
    background-color: #F8F7F7;
  }

  .has-events {
    background-color: #BEF4F3;
  }
 }
