*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.fas {
  font-size: 30px;
  color: #888888;
}

ul {
  list-style: none;
}

.container {
  padding: 0 10px 0 10px;
}

:root {
  --japanese: Hiragino Maru Gothic ProN;
  --english: Comic Sans MS;
}

/* header */
header {
  padding: 20px 0 10px 0;
}

#logo {
  float: left;
}

#logo img {
  width: 100px;
}

.about {
  font-size: 20px;
  padding:10px 0 0 50px;
  font-family: var(--english);
  text-decoration: none;
  color: purple;
}

/* footer */
footer {
  text-align: center;
  font-size: 20px;
}

/* home page */
.home-page-wrapper {
  background-image: url(abc-phonics-top.png);
  background-size: cover;
  width: 100%;
  height: 700px;
}

a.btn--yellow.btn--border-dotted {
  border: 3px dotted #000;
  background-color: yellow;
  font-family: var(--japanese);
  margin-top: 350px;
  margin-left: 280px;
  width: 250px;
}

a.btn--yellow.btn--border-dotted:hover {
  background-color: #F5ED03;
}

/* about page */
.about-page-wrapper {
  background-image: url(abc-phonics-about.png);
  background-size: cover;
  width: 100%;
  height: 700px;
}

.message-wrapper {
  width: 650px;
  margin: 70px 0 50px 300px;
  font-family: var(--japanese);
  color: #252525;
}

.message-wrapper h1 {
  font-size: 35px;
}

.message-wrapper p {
  font-size: 15px;
}

/* practice page */
.practice-page-wrapper {
  background-image: url(abc-phonics-practice.png);
  width: 100%;
  background-size: cover;
  height: 700px;
}

.alphabet {
  background-color: white;
  margin: 100px 50px 0 50px;
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 10px;
  position: relative;
}

.alphabet:hover {
  background-color: #F8F7F7;
}

.alphabet h1{
  font-family: var(--english);
  font-size: 50px;
  color: #EE0000;
  text-align: center;
}

.alphabet-image {
  background-color: white;
  display: inline-block;
  margin: 100px 0 0 200px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.alphabet-image:hover {
  background-color: #F8F7F7;
}

.alphabet-image img {
  width: 200px;
}

.alphabet-image h2 {
  font-family: var(--english);
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
}

.fa-volume-up {
  float: right;
  margin: 10px 10px;
  position: absolute;
  top: 5px;
  right: 5%;
}