*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
}

li {
  float: left;
}

.container {
  padding: 0 15px 0 15px;
}

.wrapper {
  height: 550px;
}

:root {
  --japanese: Hiragino Maru Gothic ProN;
  --english: Comic Sans MS;
}

/* header */
header {
  height: 100px;
}

#logo {
  float: left;
}

#logo img {
  width: 100px;
  padding-top: 5px;
}

.header-nav li {
  font-size: 20px;
  padding: 33px;
  font-family: var(--english);
  color: purple;
}

/* footer */
footer {
  text-align: center;
  font-size: 20px;
}

/* home page */
.Home {
  background-image: url(abc-phonics-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-wrapper {
  text-align: center;
  height: 500px;
  padding-top: 60px;
}

a.btn--yellow.btn--border-dotted {
  border: 3px dotted #000;
  background-color: yellow;
  font-family: var(--japanese);
  width: 250px;
}

a.btn--yellow.btn--border-dotted:hover {
  background-color: #F5ED03;
}

/* about page */
.About {
  background-image: url(abc-phonics-about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.message-wrapper {
  width: 650px;
  margin-left: 300px;
  font-family: var(--japanese);
  color: #252525;
}

.message-wrapper h1 {
  font-size: 35px;
}

.message-wrapper p {
  font-size: 15px;
}

/* users page */
.Log {
  background: #e9e9e9;
  color: #5e5e5e;
  /* font: 400 87.5%/1.5em 'Open Sans', sans-serif; */
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

.form-wrapper h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.User {
  background-image: url(abc-phonics-user-page.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-wrapper {
  height: 500px;
}

.user-name-box {
  background-color: skyblue;
  float: left;
  margin: 50px 0 0 70px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.user-name-box h2 {
  font-size: 25px;
  margin-top: 0px;
}

.user-name-box p {
  color: #5e5e5e;
  width: 70px;
  margin-top: -20px;
  margin-left: 150px;
}

.calender-box {
  background-color: skyblue;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  margin-left: 600px;
  position: relative;
}

.calender {
  background-color: white;
  border-radius: 10px;
  width: 380px;
  height: 280px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.user-page-start-button {
  text-align: center;
  margin-top: 100px;
}

.logout-button {
  width: 100px;
  border-radius: 10px;
  background-color: tomato;
  color: #000;
  text-align: center;
  height: 20px;
  padding: 3px 0;
  margin: 0 auto;
}

/* index page */
.Index {
  background-image: url(abc-phonics-about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-wrapper {
  margin-left: 100px;
}

.index-alphabet-box {
  background-color: white;
  font-family: var(--english);
  margin: 50px 50px 0 0;
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 10px;
  padding: 10px 15px;
}

/* practice page */
.Practice {
  background-image: url(abc-phonics-practice.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.practice-wrapper {
  height: 400px;
}

.alphabet {
  background-color: white;
  margin: 50px 50px 0 80px;
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 10px;
  position: relative;
}

.alphabet:hover {
  background-color: #F8F7F7;
}

.alphabet h1{
  font-family: var(--english);
  font-size: 50px;
  text-align: center;
}

.alphabet-image {
  background-color: white;
  display: inline-block;
  margin: 50px 0 0 200px;
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.alphabet-image:hover {
  background-color: #F8F7F7;
}

.alphabet-image img {
  width: 200px;
}

.alphabet-image h2 {
  font-family: var(--english);
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fa-volume-up {
  font-size: 30px;
  color: #888888;
  float: right;
  margin: 10px 10px;
  position: absolute;
  top: 5px;
  right: 5%;
}

.button-area {
  text-align: center;
  margin-top: 20px;
}


.previous-page {
  float: left;
  width: 50%;
}

.next-page {
  float: right;
  width: 50%;
}

/* alphabet's font color */
.Aa {
  color: #EE0000;
}

.Bb {
  color: blue;
}

.Cc {
  color: #04B404;
}
.Dd {
  color: #9E693D;
}
.Ee {
  color: #9E9A96;
}
.Ff {
  color: #FE9A2E;
}
.Gg {
  color: #38302F;
}
.Hh {
  color: #0567A0;
}
.Ii {
  color: #B3EF76;
}
.Jj {
  color: #F17618;
}
.Kk {
  color: #F8BE12;
}
.Ll {
  color: #C6B057;
}
.Mm {
  color: #FAAC58;
}
.Nn {
  color: #F5D0A9;
}
.Oo {
  color: #AB2E1B;
}
.Pp {
  color: #1B274C;
}
.Qq {
  color: #081704;
}
.Rr {
  color: #7E7E80;
}
.Ss {
  color: #F193EA;
}
.Tt {
  color: #316B14;
}
.Uu {
  color: #5D6CBF;
}
.Vv {
  color: #F8F22F;
}
.Ww {
  color: #033C67;
}
.Xx {
  color: black;
}
.Yy {
  color: #F45698;
}
.Zz {
  color: #71706E;
}