<header>
  <%= link_to root_path, id: "logo" do %>
    <%= image_tag "abc-phonics-logo.png" %>
  <% end %>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, class: "about" %></li>
    </ul>
  </nav>
</header>